body
{
background:#f4f;
}

.navbar
{
min-height: 33px !important;
margin-bottom: 100;
border-radius:0;
background:#f4f;
}

.navbar-nav
{
padding-top: 6px !important;
padding-bottom: 0;
height:33px;
}

